<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>たいとる</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
<body>
    <h1>Twitter API</h1>
    <p>Please select on of the following</p>

    <p><a href="/single" >single user authentication</a></p>
    <p><a href="/signin_with_twitter" >sign in with twitter</a></p>
<script type="text/javascript">


</script>
</body></html>