<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>single_user_authentication</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
<body>
    <h1>しんぐるゆーざー</h1>
    <p>検索したい人</p>

    <form method="post" action="/search_root">
        <input type="text" name="rootName">
        <input type="submit" value="search">
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">


</script>
</body></html>